

.logo-text{

font-family: 'EB Garamond', sans-serif;
position:relative;
top: 15px;
font-size: 18px;
letter-spacing: 5px;
margin-left:8px;

}
em{
	font-weight: bold;
	text-decoration: underline;
}
u{
	display: block;
    padding: 20px 20px 20px 20px;
	background-color: #ebebeb;
	text-decoration: none;
}
u a{
background-color: none;
}

.ais-search-box {
    max-width: none;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

p,li{
	font-family: 'EB Garamond', sans-serif;
	font-size: 18px;
	padding:0px 20px 0px 20px;
}

h1,h2,h3,h4,span{
	font-family: 'EB Garamond', sans-serif;

}


.btn-surah-selection{
	font-size: 38px;
	font-family: 'EB Garamond', sans-serif;
	background-color: #e9ecef;
}


.surah-name{
	text-align: center;
	
	padding:20px 20px 20px 20px;
	background-image: url('../img/surah-name-bg.jpg');

}

.surah-name h1{
	font-size: 60px;
}

.ayah-row {
	border:1px solid #aaa;
	padding:20px 0px 10px 0px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-left:0px;
	margin-right:0px;
}	

.translation-text p{

	font-size: 18px;
}

.ayah-row .arabic-text{
		text-align: right;
		font-size: 30px;

}

.ayah-row a{
	color:#000;

}

.ayah-row a:hover{
	text-decoration: none;

}

.ayah-row-detail {
	/*border:1px solid #aaa;*/
	/*padding:20px 0px 10px 0px;*/
	/*border-radius: 10px;*/
	margin-bottom: 20px;
	margin-left:0px;
	margin-right:0px;
}	

.ayah-row-detail .arabic-text{
	text-align: right;
	font-size: 30px;

}

.ayah-row-detail a{
color:#000;

}

.ayah-row-detail a:hover{
text-decoration: none;

}



.ayah-tools{
	background-color: #eee;
	padding:10px 10px 10px 10px;

}

.ayah-tools span{

	position: relative;
	margin-right: 15px;
}



.ayah-tools a{
	/*position:relative;*/
	/*display:inline;*/
	text-align: left;
	color:#aaa;
	padding:5px 5px 5px 5px;
	
}

.ayah-tools a:hover{
	color:#E56505;

}



.ayah-tools-detail{
	
	padding:10px 0px 10px 0px;
	border-bottom:1px dashed #aaa;
	margin: 0px 10px 0px 10px;

}

.ayah-tools-detail span{

	position: relative;
	margin-right: 15px;
}



.ayah-tools-detail a{
	/*position:relative;*/
	/*display:inline;*/
	text-align: left;
	color:#333;
	padding:5px 5px 5px 5px;
	font-family: 'EB Garamond', sans-serif;
}

.ayah-tools-detail a:hover{
	color:#E56505;

}



.keterangan-surah{
	padding:0px 0px 0px 14px;
}

.keterangan-surah #ename{
	font-size: 18px;
	font-weight: bold;

}

@media screen and (max-width: 768px) {
  .ayah-tools a{ 
		display:inline;
	}

	.btn-surah-selection{
	font-size: 25px;
	
	}
}







